body {
    background-color: olivedrab;
}

#max {
    background-color: yellow;
}

.vader {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/29/14/13/chicken-nuggets-2693456__340.jpg);
    
}